@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #000000;
    color: white;
}
::-webkit-scrollbar {
    width: 8px; 
    height: 8px; 
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.2); 
    border-radius: 10px; 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.1); 
  }
  
  ::-webkit-scrollbar-track {
   background-color: transparent;
  }